@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#btnTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    scroll-behavior: smooth;
}
body {
    font-family: 'Stoke';
    align-items: center;
    justify-content: center;
    display: inline-block;
    
}

.header,
.header-2 {
    display: flex;
    padding: 10px;
    background-color: #000000;
}

.header-2 {
    flex-direction: row-reverse;
}
.fixed-header {
    z-index: 999;
    position: absolute;
    height: auto;
    background-color: #fff;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 3px 8px #888888
}


nav {
    width: 100%;
    display: flex;
    flex-direction: start;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 0px 5px;
}


li {
    list-style: none;
    padding: 10px;
}

#logoprofil img{
    width: 40px;
    margin-top: 5px;
    margin-left: 50vw
}

#logohead {
    margin-top: 18px;
    margin-left: 10px
}

#logoprofil a {
    float: right;
}

nav a {
    text-decoration: none;
    color: #5b5c5e;
    padding: 10px;
    font-size: 1.0em;
    color: white;
    margin-left: 20px;
}

nav a:hover {
    color: rgb(255, 195, 66);
    font-weight: bold;
    transition: 1s linear;

}

.link {
    text-align: center;
}

.link img {
    width: 50px;
    padding: 20px;
}

.home .background {
    color: rgba(0, 0, 0, 0.952);
    min-height: 160px;
    align-items: center;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    background-image: url('../images/bg1.png');
    padding-top: 50px;
}

/* Review CSS */
.judulreview {
    font-family: 'Sen';
    margin-left:50%;
    transform:translateX(-50%);
    margin-top: 120px;
    text-align: center;
    width: 35%;
}

.kotakrev{
    background: #fcfcfc;
    padding: 20px;
    width: 200px;
    margin: 50px auto;
    height: 200px;
    border: 1px solid black;
    box-shadow: 5px 8px rgba(0, 0, 0, 0.26);
    padding-bottom: 150px;
    transition: transform .5s ease;
    }

.kotakrev{  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left:30px;
    margin-top: 5px;
    
}
.kotakrev:hover{
    background: rgba(0, 0, 0, 0.616);
    color: white;
    border: 1px solid white;
    transition: .5s linear;
}

.kotakrev .borderdesk:hover {
    border: 1px solid white;
    transition: .5s linear;
}
    
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, 0px); }    
}

.ketengahrev{
    margin-left: 50%;
    transform:translateX(-50%);
    width: 250%;
    display: flex;;
}

.logorev {
    width: 25%;
    margin-right: 60%;
}

.borderdesk {
    border: 1px solid black;
    border-radius: 10px;
    height: 180px;
    margin-top: 20px;
    padding: 10px
}

.kotakrev p {
    text-align: left;
    font-size: 16px;
}

/* Footer */
.bantuan {
    color: white;
    margin-left: 40px;
    font-family: 'Sen';
}

.sosmed {
    margin-top: 5px;
    margin-left: 40px;
}

.sosmed img {
    padding: 3px;
    width: 30px;
    height: 30px;
}

.Footer {
    width: 100%;
    display: inline-block;
    background-color: #000000;
    margin-bottom: -10px;
}

.isi-footer {
    margin-left: 50px;
    margin-right: 20px;
}

.isi-footer ul {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    list-style: none;
}

.isi-footer ul li {
    margin: 3px 0;
    float: left;
    width: 31.94%;
    font-weight: bold;
    text-align: center;
}

.isi-footer ul li ul {
    padding: 0;
}

.isi-footer ul li ul li {
    margin-right: auto;
    margin-left: auto;
    float: none;
    padding: 5px 0;
    display: inline;
}

.copyright {
    color: white;
    font-family: 'Sen';
}

.partner {
    color: white;
    font-family: 'Sen';
}

.partner-img img {
    margin: 5px;
    width: 50px;
    height: 50px;
}
.partner-img {
    font-size: 15px;
}