body{
    background: #e0cc19;
    font-family: monospace;
    text-align: center;
    }
h1{
    color: rgb(3, 3, 3);
    }
div{
    margin: 100px;
    }
.kotak{
    background: rgb(62, 111, 248);
    width: 200px;
    height: 200px;
    transition: width 2s;
    -webkit-transition: width 2s;
    }
.kotak:hover{
    width: 400px;
    background: radial-gradient(blueviolet, aqua, blue);
    }
.kotak2{
    background: rgb(62, 111, 248);
    width: 200px;
    height: 200px;
    transition: width 1s, height 2s;
    -webkit-transition: width 1s, height 2s;
    }
.kotak2:hover{
    width: 250px;
    height: 250px;
    background: radial-gradient(blueviolet, aqua, blue);
    }