p {
    font-family:monospace;
    line-height: 1.80em;
}

i {
    font-family: 'Times New Roman', Times, serif;
    color:blue;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    color:hotpink;
}